<%= form_for @member_team_office, :html => { :class => "form-horizontal member_team_office" } do |f| %>

  <% if @member_team_office.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@member_team_office.errors.count, "error") %> prohibited this member_team_office from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @member_team_office.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :function, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :function, :class => 'form-control' %>
    </div>
    <%=f.error_span(:function) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                member_team_offices_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
